<style>
main {
    font-family: Georgia;
    max-width: 800px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 18px;
    padding-left:  50px;
    padding-right: 50px;
    color: #111;
    transition: 0.4s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
}

h1 {
    padding-top: 200px;
    line-height: 50px;
}
h2 {
    padding-top: 30px;
}
h3 {
    padding-top: 20px;
}
h4 {
    padding-top: 10px;
}
p {
    text-align: justify;
    hyphens: auto;
}
p a {
    word-wrap: break-word;
    white-space: pre;
}

a {
    color: #0074D9;
}

code {
    word-wrap: break-word;
}
blockquote {
    border-left: 3px solid #eee;
    margin-left: 20px;
    padding-left: 20px;
}

dt {
    font-weight: bold;
    padding-top: 1rem;
}

::selection {
    background-color: #E4E4E4;
}

table {
    width: 100%;
}
table caption {
    font-weight: bold;
}
table tr {
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}
table tr.even {
    background-color: #fafafa;
}
table td {
    margin: 0;
    padding: 3px 5px;
}

p span.added {
    color: green;
    background-color: #FFF3C5;
}
p span.removed {
    color: red;
    background-color: #FFF3C5;
}

.textBtn {
    padding: 20px;
    font-weight: bold;
    color: #364149;
    transition: 0.3s;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.navTitle {
    padding-left: 20px;
    text-overflow: ellipsis;
    padding-top: 30px;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
}

.textBtn a:hover {
    color: black;

}

.current-nav {
    font-weight: bolder;
    text-decoration: underline !important;
}

#title-page {
    padding: 80px 0;
}

#openTOC {
    position: fixed;
    left: 0;
    top: 0;
}

#TOC {
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: scroll;
    height: 100%;
    width: 0%;
    background: #fafafa;
    font-family: Arial;
    font-size: 15px;
    line-height: 30px;
    transition: 0.4s;
    padding-top: 1rem;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #ECECEC;
}
::-webkit-scrollbar-thumb {
    background-color: #B0B0B0;
    border-radius: 8px;
}
#TOC > ul {
    padding-right: 10px;
}
#TOC ul {
    list-style: none;
    padding-left: 20px;
}
#TOC ul li a {
    text-decoration: none;
    color: #364149;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}
#TOC li a:hover {
    text-decoration: underline;
}

figcaption {
    font-style: italic;
}
figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    max-height: 60vh;
    cursor: pointer;
}

figure:hover {
    opacity: 70%;
}

.sourceCode {
    overflow: scroll;
    max-height: 30vh;
    padding: 0.3rem;
    background-color: #FFFCEB;
}

.txt {
    overflow: scroll;
    max-height: 30vh;
    padding: 0.3rem;
    background-color: #FFFCEB;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 3vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal img {
    max-width: 95%;
    max-height: 85vh;
    display: table;
    margin: 0 auto;
    background-size: 100% 100%;
}

.modal figcaption {
    background-color: #f1f1f1;
    max-width: 95%;
    display: table;
    margin: 0 auto;
    margin-top: 2em;
    padding: 1em;
}

.references p a[href] {
  word-wrap:break-all;
  white-space: pre-line;
}

</style>
